{% extends "base.html" %}
{% block body %}
<div class="container mt-4">
    <h1>Neues Termin erstellen</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.description.label }}
            {{ form.description(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.date.label }}
            {{ form.date(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.time.label }}
            {{ form.time(type="text", class="form-control", placeholder="HH:MM:SS") }}
        </div>

        <button type="submit" class="btn btn-primary">Termin erstellen</button>
    </form>
</div>
{% endblock %}
